body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signature {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.home-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.home-links a {
  font-family: Arial, sans-serif;
  color: black;
  text-decoration: none;
}
.contact-footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.contact-footer a {
  color: grey;
  text-decoration: none;
}

/* PHONE */

@media (max-width: 700px) {

  .home-links {
    gap: 30px;
  }

  .signature {
    width: 60%;
  }

}